<div >
  <mat-card >
    <mat-card-header>
      <mat-card-title>{{titleCompany}}</mat-card-title>
      <mat-card-subtitle *ngIf="errorCompany != ''">
        <mat-error>
        {{errorCompany}}
      </mat-error>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
  <form *ngIf="createdForm" [formGroup]="companyForm" (ngSubmit)="update()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"
                      type="text"
                      required
                      placeholder="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email from (address for sending)</mat-label>
      <input matInput formControlName="mail"
                      type="email"
                      placeholder="@mail">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email Subject</mat-label>
      <input matInput formControlName="mailSubject"
                      type="text"
                      placeholder="Subject">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email Body</mat-label>
      <textarea matInput formControlName="mailBody"
                      type="text"
                      placeholder="Body text">
      </textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>SMTP Host</mat-label>
      <input matInput formControlName="smtpHost"
                      type="text"
                      placeholder="smtp.com (for example)">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>SMTP Host</mat-label>
      <input matInput formControlName="smtpPort"
                      type="number"
                      placeholder="587">
    </mat-form-field>
    <br>
    <mat-slide-toggle formControlName="enableSsl"
        class="example-margin"
        [color]="color"
        [checked]="false">
      SLL
    </mat-slide-toggle>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>SMTP Login</mat-label>
      <input matInput formControlName="smtpLogin"
                      type="text"
                      placeholder="login for smpt server">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>SMTP Password</mat-label>
      <input matInput formControlName="smtpPassword"
                      type="password"
                      placeholder="password">
    </mat-form-field>
    <br>
    <button mat-raised-button  color="primary" (click)="back()">Home</button>
    <button mat-raised-button [disabled]="!companyForm.valid" color="primary">Update</button>
  </form>
</mat-card-content>
</mat-card>
</div>
