<mat-card >
  <mat-card-content>
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-error *ngIf="reigisterError!=''">
        {{reigisterError}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="login"
             type="text"
             required
             placeholder="name">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"

               placeholder="password">
          <mat-hint>min 6 symlobs</mat-hint>
          <mat-error *ngIf="registerForm.hasError('minLength') && !registerForm.hasError('required')">
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="registerForm.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput formControlName="confirmPass"
                 type="password"
                 [errorStateMatcher]="matcher"
                 required
                 placeholder="confirm password">
          <mat-error *ngIf="registerForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>


        <button mat-raised-button [disabled]="registerForm.invalid " color="primary"> Register </button>

    </form>
  </mat-card-content>
  </mat-card>
