#title{
  text-transform: uppercase;
  font-size: 18pt;
}

.exp-toolbar{
  align-items: center;
  justify-content: space-between;
}

#login{
  color: #9DAAF2;
}



footer {
  /* position: fixed;
  padding: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  align-items: center; */
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
}

footer mat-toolbar{
  justify-content: center;
  flex-direction: column;

}

footer p{
  font-size: 8pt;
  margin: -7px;
}

main {
  padding: 20px;
}





