<mat-card >
  <mat-card-header>
    <mat-card-title>Users list</mat-card-title>
    <mat-card-subtitle *ngIf="errorUsers != ''">{{errorUsers}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form *ngFor="let user of usersArray; let i = index;" #ngForm="ngForm" [formGroup]="userArrayForms[i]" >
      <!-- <div *ngIf="statusArrayForms[i] == status"> -->
        <mat-form-field  appearance="fill">
          <input  matInput formControlName="login"
                          type="text"
                          required
                          readonly={{!ngForm.form.value.editable}}
                          placeholder="Login">
        </mat-form-field>

        <button  mat-mini-fab *ngIf="!ngForm.form.value.editable" class="mini-fab-container" color="primary" (click)="viewForm(ngForm)">
          <mat-icon>preview</mat-icon>
        </button>
    </form>
  </mat-card-content>
</mat-card>



