mat-card.mat-card{
  width: 70%;
  margin-bottom: 10%;
  min-width: 420px;
}

mat-icon {
  cursor: pointer;
}


mat-card .col-name{
  width: 60%;
}

mat-card .col-icon{
  width: 15%;
}

.mini-fab-container{
  margin: 15px;
}

mat-form-field.order{
  width: 50px;
}
